<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    {% block head_block %}
    {% endblock %}
    <link rel="SHORTCUT ICON" href="{% static "images/logo.ico"%}" type="image/x-icon" />
    <link rel="stylesheet" href="{% static "cruiseWeb/css/common.css" %}">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet"/>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'cruiseWeb:index'%}">CRUISE</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class = "nav navbar-nav">
            <li><a class="navbar-link" href="{%url 'cruiseWeb:projectDescription'%}">Project</a></li>
            <li><a class="navbar-link" href="{%url 'cruiseWeb:technical'%}">Tech</a></li>
            <li><a class="navbar-link" href="{%url 'cruiseWeb:cruiseDemo'%}">Demo</a></li>
            <li><a class="navbar-link" href="{%url 'cruiseWeb:aboutUs'%}">About Us</a></li>
            <li><a class="navbar-link" href="{%url 'cruiseWeb:gtSurvey'%}">Survey</a></li>
          </ul>
        </div>
      </div>
    </nav>

      <!-- <h1 class="dead"> Test CSS </h1> -->
    {% block body_block %}
    <!-- Anything outside this will be inherited if you extend -->
    {% endblock %}

    <div class="footer">
      <p class="footerText classCenter">This webpage is developed with Django by CYLim.</p>
    </div>

    <script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
  <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  </body>
</html>
